<!DOCTYPE html>
<html>
  <head>
    
    {% block head %}
      <title>Matheus Caldeira</title>
    {% endblock head %}

    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portifolio">Aulas</a>
      </div>
    </header>

   {% block content %}{% endblock content %}

    <footer>
      <div id="links-footer" class="links">
        {% for link in data.links %}
          <a href="{{link.url}}" target="_blank">{{link.name}}</a>
        {% endfor %}
      </div>
    </footer>

    {% block script %}{% endblock script %}

  </body>

</html>