{% extends "layout.njk" %}

{% block head %}
  <title>Pagina não encontrada</title>
{% endblock head %}

{% block content %}

  <div id="not-found">
    <h1> Pagina não encontrada.</h1>
  </div>

{% endblock content %}
