{% extends "layout.njk" %}

{% block head %}
  <title>Portifolio - Matheus Caldeira</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock head %}

{% block content %}

  <div id="wrapper">
    <h1>Aulas</h1>
  </div>

  <section class="cards">

    {% for card in cards %}

      <div class="card" id="{{card.id}}">
        <div class="card__img-container {{'featured-wrapper' if card.featured }}">
          <img src="https://img.youtube.com/vi/{{card.id}}/maxresdefault.jpg" alt="{{card.title}}">
          {% if card.featured %}
            <div class="featured">Destaque</div>
          {% endif %}
        </div>
        <div class="card__content">
          <p>{{card.title}}</p>
        </div>
        <div class="card__info">
          <p>{{card.duration}}</p>
          <p class="card__price">{{card.price}}</p>
        </div>
      </div>
    
    {% endfor %}

  </section>

{% endblock content %}
  
{% block script %}
  <script src="/scripts.js"></script>
{% endblock script %}
{# <div class="modal-overlay">
  <div class="modal">
    
    <a class="screen-modal">
      <span class="material-icons full-modal">fullscreen</span>
      <span hidden class="material-icons full-exit-modal">fullscreen_exit</span>
      <span class="material-icons close-modal">close</span>
    </a>

    <a class="close-modal">
    </a>
    
    <div class="modal-content">
      <iframe src="" frameborder="0"></iframe>
    </div>
  </div>

</div> #}