{% extends "layout.njk" %}

{% block head %}
  <title>{{card.title}} - Matheus Caldeira</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock head %}

{% block content %}

  <div id="wrapper" class="video">
    <h1>{{card.title}}</h1>
  </div>

  <section class="video">

    <div class="card" id="{{card.id}}">
      <div class="card__video-container">
        <iframe src="https://www.youtube.com/embed/{{card.id}}" frameborder="0"></iframe>
      </div>
      <div class="card__content">
        <p>{{card.title}}</p>
      </div>
      <div class="card__info">
        <p>{{card.duration}}</p>
        <p class="card__price">{{card.price}}</p>
      </div>
    </div>
    
  </section>

{% endblock content %}